body{
    margin:2vh;
} 
#avatar{
    border-radius: 50%;
}

.name{
    
    color: #F89FAF;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
.introduction{
    /* top | right | bottom | left */
    padding: 7vh 2em 2vh 7vh;
    font-weight: 700;
}


.introPage{
    font-family: 'Work Sans', sans-serif;
    padding: 20vh;
}

.navbar-expand-lg{
    padding: 3vh;
}

.icons{
    padding: 1vh 2vh 2vh 40vh;
    color:#F89FAF;
}
i{
    padding: 1vh;
}

.nav-link , .check{
    color:#353738;
    
}
.nav-link:hover, .check:hover{
    color:#F89FAF;

}

.name:hover, i:hover{
   color: #353738
}

.check{
    font-size: 1em;
}
.content{
    padding: 10vh;
    
}

.card{
    padding: 3vh;
    margin: 10vh;
    background-color: #F4F4F4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: 'Work Sans', sans-serif;
    
}

.btn-dark{
    text-transform: uppercase;
    font-size: 12px;
    /* top | right | bottom | left */
    margin: 2vh 2vh 2vh 0vh;
}

.description{
    font-weight: lighter;
    
}

#homePagePhoto{
    max-width: 100%;

}